.ui-panelgrid tr, .ui-panelgrid td {
    border:none !important;
}

.center {
    margin: auto;
    width: 500px;
}

#loginPanel {
    margin-top: 50px;
}

#loginPanelGridInfo, #loginPanelGridInput {
    margin-bottom: 10px;
}

#loginPanelGridInput, #j_username, #j_password, #loginPanelGridSubmit {
    width: 100%;
}

#submit {
    float: right;
    margin: auto;
}