#form {
    margin-left: 30%;
    margin-right: 30%;
}

.ui-panelgrid tr, .ui-panelgrid td {
    border:none !important;
}

#newUserPanel {
    margin-top: 50px;
    margin-bottom: 50px;
}

#newUserPanelGridInput, #name, #login_id, #email, #company, #password {
    width: 100%;
}
