<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>HelloWorld</display-name>

    <!-- JSF CONFIG -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>BootsFaces_THEME</param-name>
        <param-value>spacelab</param-value>
    </context-param>

    <!-- Servlets -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/pages/index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Security Roles -->
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>editor</role-name>
    </security-role>

    <!-- Security Constraints -->
    <security-constraint>
        <display-name>Admin-Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Admin-Pages</web-resource-name>
            <url-pattern>/pages/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Editor-Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Editor-Pages</web-resource-name>
            <url-pattern>/pages/editor/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>editor</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Login-Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>loginsuccess</web-resource-name>
            <url-pattern>/loginsuccess.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>all authenticated users</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ticketsDomain</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
